<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- bootstrap -->
<link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="/static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
<!-- libraries -->
<link href="/static/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
<!-- global styles -->
<link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/static/css/elements.css" />
<link rel="stylesheet" type="text/css" href="/static/css/icons.css" />

<link rel="stylesheet" type="text/css" href="/static/js/libs/layer/3.0.1/skin/default/layer.css" />