<footer id="colophon">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 phnosee">
                <div class="eachfmenu">
                    <h2>关于我们</h2>
                    <div class="footer-menu-container">
                        <ul id="menu-%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac" class="footer-menu">
                            <li id="menu-item-154"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a
                                    href="http://www.wpmomo.com/about/">关于我们</a></li>
                            <li id="menu-item-157"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a
                                    href="http://www.wpmomo.com/cooperate/">与我合作</a></li>
                        </ul>
                    </div>
                </div>
                <div class="eachfmenu">
                    <h2>友情链接</h2>
                    <div class="footer-menu-container">
                        <ul id="menu-%e5%8f%8b%e6%83%85%e9%93%be%e6%8e%a5" class="footer-menu">
                            <li id="menu-item-175"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175"><a
                                    href="http://cn.wordpress.org/">WordPress</a></li>
                            <li id="menu-item-176"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176"><a
                                    href="http://www.bootcss.com/">bootstrap</a></li>
                            <li id="menu-item-177"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177"><a
                                    href="http://jquery.com/">jQuery</a></li>
                            <li id="menu-item-178"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178"><a
                                    href="http://instantclick.io/">instantclick</a></li>
                        </ul>
                    </div>
                </div>
                <div class="eachfmenu">
                    <h2>社会媒体</h2>
                    <div class="footer-menu-container">
                        <ul id="menu-%e7%a4%be%e4%bc%9a%e5%aa%92%e4%bd%93" class="footer-menu">
                            <li id="menu-item-174"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174"><a
                                    href="http://wpa.qq.com/msgrd?V=3&#038;uin=45134691&#038;Site=WPMOMO&#038;Menu=yes">站长QQ</a>
                            </li>
                            <li id="menu-item-171"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a
                                    href="http://#">新浪微博</a></li>
                            <li id="menu-item-173"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-173"><a
                                    href="http://#">微信公众号</a></li>
                        </ul>
                    </div>
                </div>
                <div class="eachfmenu">
                    <h2>虚拟主机</h2>
                    <div class="footer-menu-container">
                        <ul id="menu-%e8%99%9a%e6%8b%9f%e4%b8%bb%e6%9c%ba" class="footer-menu">
                            <li id="menu-item-170"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a
                                    href="http://www.wpmomo.com/hkhost/">香港主机</a></li>
                            <li id="menu-item-169"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a
                                    href="http://www.wpmomo.com/mlhost/">国内主机</a></li>
                            <li id="menu-item-167"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a
                                    href="http://www.wpmomo.com/ushost/">美国主机</a></li>
                            <li id="menu-item-168"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a
                                    href="http://www.wpmomo.com/package/">套餐服务</a></li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="copyright">
                    &copy; 2016 copyright <a href="http://www.wpmomo.com/">MoMo</a> All Rights Reserved. <br><a
                        href="http://www.miitbeian.gov.cn/">皖 ICP 备12006661号</a>
                    <div style="margin-top:20px;">WordPress 主题源自 <a href="http://www.wpmomo.com/">wpmomo.com</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>