{{#section 'css'}}
<link rel="stylesheet" href="/static/css/compiled/index.css" type="text/css" media="screen" />
{{/section}}

<!-- settings changer -->
<div class="skins-nav">
    <a href="#" class="skin first_nav selected">
        <span class="icon"></span><span class="text">默认皮肤</span>
    </a>
    <a href="#" class="skin second_nav" data-file="/static/css/skins/dark.css">
        <span class="icon"></span><span class="text">暗色皮肤</span>
    </a>
</div>

<div class="container-fluid">

    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row-fluid stats-row">
            <div class="span3 stat">
                <div class="data">
                    <span class="number">{{data.posts.posts}}</span>
                    文章数
                </div>

            </div>
            <div class="span3 stat">
                <div class="data">
                    <span class="number">{{data.posts.pages}}</span>
                    页面总数
                </div>

            </div>
            <div class="span3 stat">
                <div class="data">
                    <span class="number">{{data.tags.count}}</span>
                    标签总数
                </div>

            </div>
            <div class="span3 stat last">
                <div class="data">
                    <span class="number">{{data.posts.views}}</span>
                    浏览总数
                </div>

            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">
        <!-- table sample -->
        <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
        <div class="table-products section">

            <div class="row-fluid">
                <table class="table table-hover">
                    <tbody>
                    <!-- row -->
                    <tr>
                        <td>
                            系统环境
                        </td>
                        <td>
                            {{data.system}} ({{data.version}})
                        </td>
                        <td>
                            当前用户
                        </td>
                        <td>
                            {{userInfo.account}} ({{userInfo.nickname}})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            上次登录时间
                        </td>
                        <td>
                            {{userInfo.last_login_time}}
                        </td>
                        <td>
                            上次登录IP
                        </td>
                        <td>
                            {{userInfo.last_login_ip}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            访问次数最多的标签
                        </td>
                        <td colspan="2">
                            {{#each data.tags.top}}
                            {{#eq tag_alias ''}}
                            <a href="/tag/{{tag_name}}">
                            {{else}}
                            <a href="/tag/{{tag_alias}}">
                            {{/eq}}
                                <label class="label label-primary">{{tag_name}}</label></a>
                            {{/each}}
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <!-- end table sample -->

        <div class="table-products section">
            <div class="row-fluid head">
                <div class="span12">
                    <h4>访问最多的文章</h4>
                </div>
            </div>

            <div class="row-fluid filter-block">

            </div>

            <div class="row-fluid">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            标题
                        </th>
                        <th>
                            访问量
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {{#each data.posts.tops}}
                    <tr>
                        <td>
                            <a href="/posts/{{alias}}" target="_blank">{{title}}</a>
                        </td>
                        <td>
                            {{views}}
                        </td>

                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{{#section 'script'}}

{{/section}}