{{#section 'css'}}
<link rel="stylesheet" href="/static/css/compiled/personal-info.css" type="text/css" media="screen" />
{{/section}}

<!-- settings changer -->

<div class="wide-content">
    <div class="container-fluid">
        <div class="settings-wrapper" id="pad-wrapper">
            <!-- avatar column -->
            <div class="span3 avatar-box">
                <div class="personal-image">
                    <img src="/static/img/personal-info.png" class="avatar img-circle" />

                </div>
            </div>

            <!-- edit form column -->
            <div class="span7 personal-info">
                <div class="alert alert-info">
                    <i class="icon-lightbulb"></i>
                    请慎重修改个人信息，如果修改失败，请联系管理员
                    <br />
                </div>
                <h5 class="personal-title">修改密码</h5>

                <form action="" method="post" id="password-form">
                    <div class="field-box">
                        <label>账户:</label>
                        <input class="span5 inline-input" type="text" value="{{info.account}}" readonly="readonly"/>
                    </div>
                    <div class="field-box">
                        <label>密码:</label>
                        <input class="span5 inline-input" type="password" name="password" id="password" value="" required title="请输入密码"/>
                    </div>
                    <div class="field-box">
                        <label>确认密码:</label>
                        <input class="span5 inline-input" type="password" name="confirmPassword" value="" required equalTo="#password" title="两次输入的密码不一致"/>
                    </div>
                    <div class="span6 field-box actions">
                        <input type="submit" class="btn-glow primary" value="保存" />
                        <span></span>
                        <input type="reset" value="取消" class="reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
    require(['fn'], function(fn){
        fn.validateForm('password-form');
    })
</script>
{{/section}}